.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
  }
  
  .header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
  }
  
  .logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;

  }
  
  .header__title {
    max-width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    align-self: center;
    margin: 0;
    margin-left: 64px;
    z-index: 2;
  }
  
  .header__subtitle {
    position: absolute;
    max-width: 388px;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    z-index: 3;
  }
  
  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }
  
  .header__main-illustration {
    height: 608px;
    width: 765px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

  }
  
  .description {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
  }
  
  .two-columns__main-text {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 80%;
    min-width: 784px;
  }
  
  .two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    box-sizing: content-box;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .two-columns__paragraph:last-child {
    margin: 0;
  }
  .two-columns__span-accent {
    font-weight: 600;
  }
  
  .digits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .section-title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    display:flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    max-width: 60%;
  }
  
  .section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    max-width: 60%;
  }
  
  .table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 100px;
    padding-left: 0;
  }
  
  .table__cell {
    width: 250px;
    list-style: none;
    margin-top: 60px;
  }
  
  .table__heading {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
  }
  
  .table__text {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }
  
  .feynman {
    position: relative;
    min-height: 890px;
    background-color: #f2f2f2;
    z-index: 0;
  }
  
  .feynman__title {
    max-width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
    text-align: center;
  }
  
  .feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-top: 70px;
    text-align: center;
  }
  
  .feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 1;
    
  }
  
  .feynman__background {
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .kaufman {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    z-index: 2;
  }
  
  .kaufman__triangle {
    width: 877px;
    height: 877px;
    background-size: 877px 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
    background-image: url(../images/kaufman-triangle.svg);
 
  }
  
  
  .section-title_theme_dark {
    color: #f2f2f2;
    margin-top: 90px;
    margin-bottom: 0;
  }
  
  .table__text_theme_dark {
    margin-bottom: 0;
  }
  
  .section-subtitle_theme_dark {
    color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .table_theme_dark {
    color: white;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-bottom: 90px;
  }
  
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 0;
  }
  
  .table__heading_theme_dark {
    z-index: 2;
  }
  
  .footer {
    min-height: 350px;
    background-color: #1f1f1f;
    display: flex;
    color: #f2f2f2;
    box-sizing: border-box;
    padding: 60px 40px;
  }
  
  .footer__column {
    display: flex;
    flex-direction: column;
  }
  
  .footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 60px auto 40px;
}
  
  .footer__column_content_copyright {
    flex-basis: 711px;
    justify-content: space-between;
  }
  
 
  
  .footer__column_content_social {
    justify-content: flex-start;
    list-style: none;
    margin: 0;
  }
  
  .logo_place_footer {
    width: 228px;
    height: 32px;
    display: flex;
    flex-basis: content;
    z-index: 3;
    margin: 0;
  }
  
  .footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
  }
  
  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .footer__column-links {
    margin: 20px 0 16px 0;
    list-style: none;
    padding: 0;
  }
  
  .footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    color: #f2f2f2;
  }
  
  .footer__social-icon {
    width: 16px;
    min-height: 16px;
    padding-right: 10px;
  }
  